/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #00252e;
  font-size: 0.875rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
}

.header__img {
  width: 6rem;
  height: auto;
}

.header__btn-link {
  font-size: 0.588125rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.330625rem 1.14rem;
  border: 0.58823px solid #ff52c1;
  color: #ff52c1;
  -webkit-box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
          box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
  border-radius: 11.7647px;
}

.hero {
  padding: 0 2.5rem 7.5rem;
}

.title--main {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.hero__title {
  margin: 7rem 0 1.5rem;
}

.hero__text {
  line-height: 1.3125rem;
  margin-bottom: 3rem;
}

.hero__btn {
  margin-bottom: 6.5rem;
}

.hero__img {
  max-height: 18.5rem;
}

.btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 0.6875rem 2.5rem;
  font-weight: bold;
  font-size: 0.75rem;
}

.btn--round {
  border-radius: 20px;
}

.btn--pink {
  background-color: #ff52c1;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
          box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
}

.diagrams {
  padding: 0 6.75rem;
}

.diagrams__icon {
  height: 2.22875rem;
  width: 2.22875rem;
}

.diagrams__icon:last-child {
  width: 1.9375rem;
  height: 1.9375rem;
}

.diagrams__number {
  font-weight: 700;
  font-size: 3.809375rem;
}

.diagrams__text {
  color: #808e9a;
  font-size: 0.9523812rem;
}

.diagrams__box:first-child {
  margin-bottom: 5.5rem;
}

.grow {
  padding: 13.38875rem 1.75rem 8.3125rem;
}

.section__img {
  width: 17.5rem;
  height: 100%;
  margin: 0 auto 2.5rem;
}

.section__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.section__text {
  line-height: 1.3125rem;
  font-weight: 400;
}

.flowing {
  padding: 4.1875rem 1.75rem 7.5rem;
}

.users {
  padding: 0 1.75rem 17.0625rem;
}

.contact {
  padding-bottom: 15.6875rem;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact__title {
  margin-bottom: 2.5rem;
}

.footer {
  padding: 4rem 1.75rem 1.875rem;
  background-color: #00252e;
  color: #ffffff;
  text-align: left;
}

.newsletter__title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.newsletter__text {
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 6.5rem;
}

input[type="email"] {
  border-radius: 6px;
  width: 100%;
  min-height: 48px;
  margin-bottom: 1rem;
}

button[type="submit"] {
  width: 10rem;
  border-radius: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 3rem;
  font-size: 1rem;
  border: 1px solid #ff52c1;
}

.footer__logo {
  -webkit-filter: invert(300%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(200%) contrast(500%);
          filter: invert(300%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(200%) contrast(500%);
  height: 2rem;
  margin-bottom: 1rem;
}

.contact-details__text {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-details__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__icon {
  margin-right: 1rem;
  width: 1.1875rem;
  height: 1.1875rem;
}

.contact-details__box {
  margin-bottom: 1rem;
}

.contact-details__box a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}

.socials {
  margin-top: 3rem;
}

.fab {
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 1.083125rem;
  margin-bottom: 2.875rem;
}

.attribution {
  text-align: center;
  line-height: 1.5rem;
}

.attribution a {
  color: #ff52c1;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */