.body {
  background-color: $clr-White;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-main;
  text-align: center;
  color: $clr-Black;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .container {
    font-size: 1rem;
  }
}
