.contact {
  padding-bottom: 15.6875rem;
  background-image: url("../../images/bg-footer-top-mobile.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.contact__title {
  margin-bottom: 2.5rem;
}
