.footer {
  padding: 4rem 1.75rem 1.875rem;
  background-color: $clr-Black;
  color: $clr-White;
  text-align: left;
}
.newsletter__title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.newsletter__text {
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 6.5rem;
  position: relative;
}
input[type="email"] {
  border-radius: 6px;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.err-msg {
  display: none;
  position: absolute;
  top: 3rem;
  color: $clr-Red;
  font-size: 12px;
}

.err {
  display: block;
}

button[type="submit"] {
  width: 10rem;
  border-radius: 5px;
  align-self: flex-end;
  height: 3rem;
  font-size: 1rem;
  border: 1px solid $clr-Pink;
}
.footer__logo {
  filter: invert(300%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(200%)
    contrast(500%);
  width: 10rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}
.contact-details__text {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact-details__box {
  display: flex;
  align-items: center;
}
.contact__icon {
  margin-right: 1rem;
  width: 1.1875rem;
  height: 1.1875rem;
}
.contact-details__box {
  margin-bottom: 1rem;
}
.contact-details__box a {
  color: $clr-White;
  text-decoration: none;
  font-weight: 400;
}
.socials {
  margin-top: 3rem;
}
.fab {
  font-size: 1.5rem;
  color: $clr-White;
  margin-right: 1.083125rem;
  margin-bottom: 2.875rem;
}
.attribution {
  text-align: center;
  line-height: 1.5rem;
  background-color: $clr-Black;
  color: $clr-GreyWhite;
  font-size: 0.7rem;
  a {
    color: $clr-Pink;
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2.25rem;
  }
  .newsletter,
  .contact-details {
    flex-basis: 45%;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 4rem 7.5rem;
  }
  .newsletter,
  .contact-details {
    width: 21.25rem;
  }
  .fab {
    font-size: 2rem;
    transition: 0.2s;
    &:hover {
      color: $clr-Pink-Hover;
    }
  }
  .contact__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
