.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.header__logo {
  width: 6rem;
  height: 1rem;
}
.header__btn-link {
  font-size: 0.588125rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.330625rem 1.14rem;
  border: 0.588235px solid $clr-Pink;
  color: $clr-Pink;
  box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
  border-radius: 11.7647px;
  &:hover {
    color: $clr-Pink-Hover;
    border-color: $clr-Pink-Hover;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 4.875rem 5rem;
  }
  .header__logo {
    width: 15rem;
    height: 2.375rem;
  }
  .header__btn-link {
    font-size: 1rem;
    border-radius: 20px;
  }
}
