.hero {
  padding: 0 2.5rem 7.5rem;
}
.title--main {
  font-family: $font-headings;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.hero__title {
  margin: 7rem 0 1.5rem;
}
.hero__text {
  line-height: 1.3125rem;
  margin-bottom: 3rem;
}
.hero__btn {
  margin-bottom: 6.5rem;
}
.hero__img {
  max-height: 18.5rem;
}
.btn {
  display: inline-block;
  color: $clr-White;
  text-decoration: none;
  padding: 0.6875rem 2.5rem;
  font-weight: bold;
  font-size: 0.75rem;
}
.btn--round {
  border-radius: 20px;
}
.btn--pink {
  background-color: $clr-Pink;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
}
