.grow {
  padding: 13.38875rem 0 8.3125rem;
}
.section__img {
  width: 17.5rem;
  height: 100%;
  margin: 0 auto 2.5rem;
}
.section__title {
  font-family: $font-headings;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.section__text {
  line-height: 1.3125rem;
  font-weight: 400;
}
